<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%} {% endblock %} </title>
    <link rel="stylesheet" href="{%  static 'css/style1.css'%}">
</head>
<body>
    <header>
        
        <div class="logo">
            <img id="logo" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTqObnsrqTfs9wSzzDT6K2PbGAUHQNuY1pqKHjJx8mj153ZzoLsBkBQ9GlfZH2NpIj6h7k&usqp=CAU" alt="Type 1 Image">
        </div>
        
        <div class="navigation">
            <a href="{% url 'snakslist' %}">HOME</a>
            <nav>{% block nav%} {% endblock %} </nav>
            <a href="{% url 'createsnaks'%}">Create Snack</a>
        </div>
           
      
     </header>  
    {% block content %}
    {% endblock %}
</body>
</html>